@import "../node_modules/antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
body {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 11pt;
}
